.aText {
  font-family: sans-serif;
  font-size: 16px;
  text-anchor: middle;
}

.active {
  font-weight: bold;
  fill: darkslategray;
  transition: fill 0.3s ease-out;
  text-anchor: middle;
}

.inactive {
  font-weight: lighter;
  fill: rgb(105, 103, 92);
  transition: fill 0.3s ease-out;
  text-anchor: middle;
}

.inactive:hover {
  fill: rgb(19, 182, 223);
  cursor: pointer;
}

/* font size dependent on radius, see app.js */
.stateText {
  font-family: sans-serif;
  font-weight: bolder;
  fill: steelblue;
  text-anchor: middle;
}

.stateCircle {
  fill: lightskyblue;
  stroke: darkslategray;
}

.chart {
  display: block;
  margin: 0;
}

.d3-tip {
  padding: 6px;
  font-size: 12px;
  line-height: 1;
  line-height: 1.5em;
  color: #d4c7a8;
  text-align: center;
  text-transform: capitalize;
  background: darkslategrey;
  border-radius: 4px;
}

/* Mobile Rules */
@media screen and (max-width: 530px) {
  .stateText {
    display: none;
  }

  .aText {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .aText {
    font-size: 13px;
  }
}
