<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<!-- 
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" /> -->
    <link href="../static/simple-sidebar.css" rel="stylesheet" />
    <link href="../static/style.css" rel="stylesheet" />
    <link href="../static/d3Style.css" rel="stylesheet"/>
    <script src="https://d3js.org/d3.v5.min.js"></script>



    <title>GLobal Collapse</title>
  </head>

  <body>
    <div class="d-flex" id="wrapper">
      <!-- Sidebar -->
      <div class="bg-dark border-right" id="sidebar-wrapper">
        <div class="sidebar-heading"></div>
        <div class="list-group list-group-flush">
            <!-- <a href="#" class="list-group-item list-group-item-action bg-dark">Dashboard</a> -->
            <a href="index.html" class="list-group-item list-group-item-action bg-dark">Home</a>
            <a href="view1.html" class="list-group-item list-group-item-action bg-dark">US Oil Consumption</a>
            <a href="view2.html" class="list-group-item list-group-item-action bg-dark">Renewables</a>

        </div>
      </div>
      <!-- /#sidebar-wrapper -->

      <!-- Page Content -->
      <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-dark border-bottom">
          <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
          
          </div>
        </nav>

        <div class="container-fluid">
          <h1 class="mt-4">Renewables</h1>

            <div class="plot_chart">
              <a
                href="https://plotly.com/~mjcherkassky/1/?share_key=YQM34UyJwpeOnbAhvU2Qnl"
                target="_blank"
                title="Renewable Generation 2019"
                style="display: block; text-align: center;">
              <img
                src="https://plotly.com/~mjcherkassky/1.png?share_key=YQM34UyJwpeOnbAhvU2Qnl"
                alt="Renewable Generation 2019"
                style="max-width: 100%;width: 600px;"
                width="600"
                onerror="this.onerror=null;this.src='https://plotly.com/404.png';"/></a>
              <script
                  data-plotly="mjcherkassky:1"
                  sharekey-plotly="YQM34UyJwpeOnbAhvU2Qnl"
                  src="https://plotly.com/embed.js"
                  async></script>
            </div>




          <p class="blurbs">Renewables blurb here (slack it to me)
          </p>
          <p>
            <!-- <code>#page-content-wrapper</code>. possible nav at top
        <code>#menu-toggle</code> ID to toggle the menu when clicked. -->
          </p>
        </div>
      </div>
      <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Menu Toggler -->
        <script>
          $('#menu-toggle').click(function (e) {
            e.preventDefault()
            $('#wrapper').toggleClass('toggled')
          });
        </script>
    <script src="../static/app.js"></script>
  </body>
</html>
